name: Docs

on:
  push:
    paths:
      - "docs/**"
      - "README.md"
      - "mkdocs.yml"
      - "Makefile"
      - ".github/workflows/docs.yml"
  pull_request:
    paths:
      - "docs/**"
      - "README.md"
      - "mkdocs.yml"
      - "Makefile"
      - ".github/workflows/docs.yml"

jobs:
  docs:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12"]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install -U pip
          pip install -e .[docs]
      - name: Build docs
        run: make docs
